.elements {
  padding-top: 50px;
  margin: auto;
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
}

.element {
  position: relative;
  width: 100%;
  max-width: 282px;
  max-height: 361px;
  background-color: #fff;
  font-family: "Inter black", "Arial", sans-serif;
  color: #000;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
}

.element__info {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 10px;
  max-width: 246px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.element__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  margin: 0px;
}

.element__title-button {
  max-width: 21px;
  max-height: 19px;
  align-self: center;
  margin-left: auto;
}

.element__title-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__title-button:active {
  background-color: #000;
}

.element__button {
  position: absolute;
  z-index: 2;
  right: 18px;
  bottom: 315px;
}

.element__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .elements {
    margin: 20px;
  }

  .element__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .element__info {
    max-width: 200px;
  }
}
@media screen and (max-width: 500px) {
  .elements {
    padding-top: 50px;
    display: block;
    max-width: 900px;
    margin: 20px;
  }

  .element {
    margin-bottom: 50px;
  }
}
