.popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 39%;
  z-index: 1000;
}

.popup__open {
  display: flex;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__image {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.popup__image-open {
  position: fixed;
  top: 5%;
  display: flex;
  justify-content: flex-start;
  max-width: 200px;
}

.popup__image-full {
  position: relative;
  min-width: 433px;
  min-height: 540px;
  max-width: 433px;
  max-height: 540px;
  object-fit: cover;
}

.popup__overlay {
  position: absolute;
  width: 10000px;
  height: 10000px;
  background-color: rgb(0, 0, 0, 0.5);
}
.popup__close-icon-image {
  width: 40px;
  position: relative;
  top: 10%;
  left: 55%;
  z-index: 1000;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 430px;
  height: 330px;
  background-color: white;
  background: #ffffff;
  border-radius: 10px;
}

.popup__image-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 430px;
  min-height: 330px;
  max-width: 433px;
  max-height: 540px;
}

.popup__image-title {
  position: relative;
  left: -35%;
}

.popup__close-icon {
  width: 40px;
  position: absolute;
  top: -43px;
  right: -43px;
  z-index: 1000;
}

.popup__close-icon:hover {
  opacity: 0.8;
}

.popup__btn {
  background: #000000;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}

.popup__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.popup__input {
  width: 358px;
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-color: #c4c4c4;
}

.popup__header {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 0;

  color: #000000;
}

@media screen and (max-width: 950px) {
  .popup__open {
    top: 30%;
    left: 20%;
    position: absolute;
  }
}

@media screen and (max-width: 500px) {
  .popup__open {
    max-width: 250px;
    top: 30%;
    left: 10%;
    position: absolute;
  }

  .popup__form {
    max-width: 250px;
    position: fixed;
  }

  .popup__input {
    max-width: 150px;
  }

  .popup__btn {
    max-width: 150px;
  }

  .popup__close-icon {
    width: 25px;
    right: -20px;
  }

  .popup__image {
    max-width: 250px;
    position: fixed;
  }

  .popup__image-open {
    display: flex;
    justify-content: center;
    top: 10%;
    left: 50%;
  }

  .popup__image-container {
    display: flex;
    justify-self: center;
    align-items: center;
    max-width: 200px;
  }

  .popup__image-title {
    position: relative;
    left: -15%;
    margin: 0;
    font-size: 14px;
    width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .popup__image-full {
    position: relative;
    min-width: 240px;
    min-height: 299px;
    max-width: 240px;
    max-height: 299px;
  }

  .popup__close-icon-image {
    position: relative;
    left: 30%;
    top: 7%;
    max-width: 30px;
    max-height: 30px;
  }
}
