.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 58px;
  max-width: 885px;
  max-height: 120px;
  margin: auto;
}
.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 414px;
  max-height: 77px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-container {
  margin-right: 15px;
  max-width: 375px;
}

.profile__info-name {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-role {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-edit {
  margin-bottom: 15px;
}

.profile__info-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__button {
  margin-left: auto;
  max-width: 150px;
  max-height: 50px;
  align-self: center;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .profile {
    margin: 20px;
  }
  .profile__info {
    max-height: 80px;
  }

  .profile__info-name {
    font-size: 40px;
  }

  .profile__info-container {
    max-width: 300px;
    min-width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 300px;
    display: block;

    padding-bottom: 150px;
    padding-top: 20px;
  }

  .profile__info {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    max-width: 250px;
    min-height: 100px;
    margin-left: 30px;
  }

  .profile__info-edit {
    margin-bottom: 40px;
  }
  .profile__info-name {
    font-size: 20px;
    margin: center;
    text-align: center;
    padding-bottom: 0;
  }

  .profile__button {
    margin-left: 60px;
  }

  .profile__image {
    margin-left: 80px;
  }
}
