.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 58px;
  max-width: 885px;
  max-height: 120px;
  margin: auto;
}
.profile__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 17px;
  max-width: 414px;
  max-height: 77px;
}

.profile__info-name {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  text-align: left;
  margin: 0;
}

.profile__info-role {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__info-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__button {
  margin-left: auto;
  max-width: 150px;
  max-height: 50px;
  align-self: center;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-bottom: 150px;
  }

  .profile__info {
    margin: auto;
    text-align: center;
  }

  .profile__info-name {
    font-size: 20px;
  }

  .profile__button {
    margin: auto;
  }
}
