.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  max-width: 882px;
  height: 74px;
}

.header__logo {
  max-width: 173px;
}

@media screen and (max-width: 950px) {
  .header {
    margin: 20px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    margin: auto;
    max-width: 300px;
  }
}
